.flight-details-container {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Tăng độ bóng */
  padding: 30px; /* Tăng padding */
  font-family: 'Roboto', sans-serif; /* Sử dụng font Roboto */
  color: #333;
}

.flight-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}

.flight-title {
  margin: 0;
  color: #2c3e50; /* Màu tối hơn cho tiêu đề */
  font-size: 1.8rem; /* Tăng kích thước tiêu đề */
  font-weight: 700; /* Đậm tiêu đề */
}

.flight-header-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng cho ảnh */
}

.flight-info-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}

.flight-info-left,
.flight-info-right {
  display: flex;
  flex-direction: column;
}

.flight-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.info-label {
  font-weight: 600; /* Đậm vừa phải */
  width: 150px;
  margin-right: 8px;
  color: #34495e; /* Màu đậm hơn cho label */
}

.info-value {
  color: #555;
  margin-right: 12px;
}

.info-time {
  color: #777;
  font-size: 0.9em;
}

.ticket-info-section {
  margin-top: 25px;
}

.ticket-heading {
  margin-bottom: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
  color: #444;
  font-size: 1.2rem; /* Tăng kích thước heading */
  font-weight: 600; /* Đậm heading */
}

.ticket-list {
  list-style: none;
  padding: 0;
}

.ticket-item {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-item:last-child {
  border-bottom: none;
}

.ticket-type,
.ticket-price {
  font-size: 1em;
  color: #555;
}

.bold-text {
  font-weight: bold;
  margin-right: 5px;
}

/* Style button "Đặt vé" */
.view__all {
  display: inline-block; /* Để chỉnh padding */
  background-color: #3498db; /* Màu nền xanh dương */
  color: white; /* Màu chữ trắng */
  padding: 12px 25px; /* Padding lớn hơn cho nút lớn hơn */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none; /* Bỏ gạch chân mặc định */
  font-size: 1rem;
  font-weight: 500; /* Độ đậm vừa phải cho chữ */
  margin-top: 20px;
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu khi hover */
}

.view__all:hover {
  background-color: #2980b9; /* Màu xanh đậm hơn khi hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Thêm đổ bóng */
}

.view__all:focus {
  outline: none; /* Loại bỏ outline khi focus */
}