/* src/components/Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #0067ce;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
  }
 .sidebar-submenu {
    font-size: 11px;  /* Giảm kích thước chữ của các mục trong menu cấp 2 */
    padding-left: 40px;  /* Thêm khoảng cách thụt vào cho các mục con trong Collapse */
    color:#0067ce;
  }
  
  /* Phần nội dung chính của Dashboard */
  .dashboard .content {
    margin-left: 0px; /* Để nội dung không bị che khuất bởi sidebar */
    padding: 20px;
  }
  